.navbar{
    display:flex;
    justify-content: space-around;
    background-color: antiquewhite;
    align-items: center;
}
nav h2{
    color: green;
    font-size: 30px;
    font-family: Poppins;
}
nav a{
    text-decoration: none;
}
nav button{
    background-color: green;
    border: none;
    border-radius: 16px;
    padding: 6px;
}